venv/
__pycache__/
*.pyc
dist/
build/
msix_output/
*.exe
*.msix
*.msi
.env
*.log
*.onnx
*.json
*.spec
*.iss
*.vbs
core/
models/
dist_debug/
dist_diagnostico/
dist_final/
dist_protegido/
msix_build/
main.py
diagnostico.py
requirements.txt
icon.ico
desktop.ini
PRIVACY_POLICY.md
